<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FiladelfiAPP</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inicio">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio (tomar asistencia)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="familias">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Familias
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lideres">
                <span class="bi bi-person-badge-fill" aria-hidden="true"></span> Líderes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ministerios">
                <span class="bi bi-briefcase-fill" aria-hidden="true"></span> Ministerios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="discipulados">
                <span class="bi bi-book-fill" aria-hidden="true"></span> Discipulados
            </NavLink>
        </div>
    
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bautismos">
                <span class="bi bi-droplet-fill" aria-hidden="true"></span> Bautismos
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
